/* needed? */
body {
    padding: 5px;
    background: #f1f1f1;
}

mark {
    color: red;
}

.note {
    background-color: lightgray;
    padding: 10px;
    margin: 6px 0px 6px 0px;
}

.volume {
    color: red;
    font-size: 40px;
    background-color: black;
    text-align: center;
}

.Chapters {
    background-color: grey;
    color: black;
    padding: 10px;
}

div.example {
    background-color: lightyellow;
    padding: 10px;
    margin: 6px 0px 6px 0px;
}

p.colorbackground {
    background-color: lightgray;
}

table.properties table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
    font-family: arial, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.properties td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

html {
    background: url(../images/img_flower.jpg) no-repeat center fixed;
    background-size: cover;
}

div {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

#myDiv1 {
    -webkit-transform: rotateX(150deg); /* Safari */
    transform: rotateX(150deg); /* Standard syntax */
}

#myDiv2 {
    -webkit-transform: rotateY(150deg); /* Safari */
    transform: rotateY(150deg); /* Standard syntax */
}

#myDiv3 {
    -webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
    margin-bottom: 110px;
}

div.div2 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    transform: rotateX(150deg);
}

div.div3 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    transform: rotateY(120deg);
}

div.div4 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    transform: rotateZ(90deg);
}