/* needed? */
body {
    padding: 5px;
    background: #f1f1f1;
}

mark {
    color: red;
}

.note {
    background-color: lightgray;
    padding: 10px;
    margin: 6px 0px 6px 0px;
}

.volume {
    color: red;
    font-size: 40px;
    background-color: black;
    text-align: center;
}

.Chapters {
    background-color: grey;
    color: black;
    padding: 10px;
}

div.example {
    background-color: lightyellow;
    padding: 10px;
    margin: 6px 0px 6px 0px;
}

p.colorbackground {
    background-color: lightgray;
}

table.properties table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
    font-family: arial, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.properties td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/border.png) 30 round;
}

#borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/border.png) 30 stretch;
}

#borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/border.png) 50 round;
}

#borderimg4 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/border.png) 20% round;
}

#borderimg5 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/border.png) 30% round;
}

div.div1 {
    border: 10px solid transparent;
    border-image: url(../images/border.png) 30 round;
}

div.div2 {
  	border:10px solid transparent;
    border-image: url(../images/border.png) 30 stretch;
}
